
尝试使用LightGBM对DASS/data.csv构建一个预测器，输出为0到10的负面情绪水平。
依靠机器学习去分类和度量用户的负面倾向程度。

输入数据

In [25]:
import pandas as pd
import numpy as np
import re
from pandas.core.frame import DataFrame

In [26]:
data_dass= pd.read_csv('DASS/data.csv',sep='delimiter',header=None)
data_dass

/var/folders/0l/51mqfhnx4r58rrsnz6vm5dd00000gn/T/ipykernel_6358/564022699.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  data_dass= pd.read_csv('DASS/data.csv',sep='delimiter',header=None)

                                                       0
0      Q1A\tQ1I\tQ1E\tQ2A\tQ2I\tQ2E\tQ3A\tQ3I\tQ3E\tQ...
1      4\t28\t3890\t4\t25\t2122\t2\t16\t1944\t4\t8\t2...
2      4\t2\t8118\t1\t36\t2890\t2\t35\t4777\t3\t28\t3...
3      3\t7\t5784\t1\t33\t4373\t4\t41\t3242\t1\t13\t6...
4      2\t23\t5081\t3\t11\t6837\t2\t37\t5521\t1\t27\t...
...                                                  ...
39771  2\t31\t3287\t1\t5\t2216\t3\t29\t3895\t2\t37\t2...
39772  3\t14\t4792\t4\t41\t2604\t3\t15\t2668\t4\t33\t...
39773  2\t1\t25147\t1\t4\t4555\t2\t14\t3388\t1\t27\t2...
39774  3\t36\t4286\t1\t34\t2736\t2\t10\t5968\t2\t20\t...
39775  2\t28\t32251\t1\t22\t3317\t2\t4\t11734\t1\t19\...

[39776 rows x 1 columns]

In [27]:
dass_list = []
for i in range(0,len(data_dass)):
    seri = data_dass.iloc[i].str.split('\t')
    dass_list.extend(seri)
# dass_list

In [28]:
df = DataFrame(dass_list[1:],columns=dass_list[0])
df

,Q1A,Q1I,Q1E,Q2A,Q2I,Q2E,Q3A,Q3I,Q3E,Q4A,...,screensize,uniquenetworklocation,hand,religion,orientation,race,voted,married,familysize,major
0,4,28,3890,4,25,2122,2,16,1944,4,...,1,1,1,12,1,10,2,1,2,None
1,4,2,8118,1,36,2890,2,35,4777,3,...,2,1,2,7,0,70,2,1,4,None
2,3,7,5784,1,33,4373,4,41,3242,1,...,2,1,1,4,3,60,1,1,3,None
3,2,23,5081,3,11,6837,2,37,5521,1,...,2,1,2,4,5,70,2,1,5,biology
4,2,36,3215,2,13,7731,3,5,4156,4,...,2,2,3,10,1,10,2,1,4,Psychology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39770,2,31,3287,1,5,2216,3,29,3895,2,...,2,1,1,2,4,60,2,1,2,None
39771,3,14,4792,4,41,2604,3,15,2668,4,...,1,1,1,10,0,10,2,1,4,Mathematic
39772,2,1,25147,1,4,4555,2,14,3388,1,...,2,1,1,7,1,30,1,2,3,Computer Science
39773,3,36,4286,1,34,2736,2,10,5968,2,...,2,1,1,6,1,60,1,1,2,History
39774,2,28,32251,1,22,3317,2,4,11734,1,...,1,1,1,10,1,10,1,1,4,Cognitive Science

数据预处理

In [29]:
# 空数据
df.isnull().sum()

Q1A               0
Q1I               0
Q1E               0
Q2A               0
Q2I               0
              ...
race              0
voted             0
married           0
familysize        0
major         11310
Length: 172, dtype: int64

In [30]:
df = df.drop(['major'],axis=1)
df = df.drop(['country'],axis=1)
df

,Q1A,Q1I,Q1E,Q2A,Q2I,Q2E,Q3A,Q3I,Q3E,Q4A,...,age,screensize,uniquenetworklocation,hand,religion,orientation,race,voted,married,familysize
0,4,28,3890,4,25,2122,2,16,1944,4,...,16,1,1,1,12,1,10,2,1,2
1,4,2,8118,1,36,2890,2,35,4777,3,...,16,2,1,2,7,0,70,2,1,4
2,3,7,5784,1,33,4373,4,41,3242,1,...,17,2,1,1,4,3,60,1,1,3
3,2,23,5081,3,11,6837,2,37,5521,1,...,13,2,1,2,4,5,70,2,1,5
4,2,36,3215,2,13,7731,3,5,4156,4,...,19,2,2,3,10,1,10,2,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39770,2,31,3287,1,5,2216,3,29,3895,2,...,16,2,1,1,2,4,60,2,1,2
39771,3,14,4792,4,41,2604,3,15,2668,4,...,21,1,1,1,10,0,10,2,1,4
39772,2,1,25147,1,4,4555,2,14,3388,1,...,48,2,1,1,7,1,30,1,2,3
39773,3,36,4286,1,34,2736,2,10,5968,2,...,20,2,1,1,6,1,60,1,1,2
39774,2,28,32251,1,22,3317,2,4,11734,1,...,26,1,1,1,10,1,10,1,1,4

In [31]:
# 重复数据
df.drop_duplicates()

,Q1A,Q1I,Q1E,Q2A,Q2I,Q2E,Q3A,Q3I,Q3E,Q4A,...,age,screensize,uniquenetworklocation,hand,religion,orientation,race,voted,married,familysize
0,4,28,3890,4,25,2122,2,16,1944,4,...,16,1,1,1,12,1,10,2,1,2
1,4,2,8118,1,36,2890,2,35,4777,3,...,16,2,1,2,7,0,70,2,1,4
2,3,7,5784,1,33,4373,4,41,3242,1,...,17,2,1,1,4,3,60,1,1,3
3,2,23,5081,3,11,6837,2,37,5521,1,...,13,2,1,2,4,5,70,2,1,5
4,2,36,3215,2,13,7731,3,5,4156,4,...,19,2,2,3,10,1,10,2,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39770,2,31,3287,1,5,2216,3,29,3895,2,...,16,2,1,1,2,4,60,2,1,2
39771,3,14,4792,4,41,2604,3,15,2668,4,...,21,1,1,1,10,0,10,2,1,4
39772,2,1,25147,1,4,4555,2,14,3388,1,...,48,2,1,1,7,1,30,1,2,3
39773,3,36,4286,1,34,2736,2,10,5968,2,...,20,2,1,1,6,1,60,1,1,2
39774,2,28,32251,1,22,3317,2,4,11734,1,...,26,1,1,1,10,1,10,1,1,4

In [32]:
# 完成时间过短或者过长的无效数据,按照3sigma原理筛选
def three_sigma(data):
    mean = np.mean(data)
    std = np.std(data)
    down = mean-3*std
    up = mean+3*std
    
    outlier = []
    for i in range(data.shape[0]):
        if(data.iloc[i]<down)|(data.iloc[i]>up):
            outlier.append(i)
        else:
            continue
    return outlier

In [33]:
# box_1, box_2 = pd.to_numeric(df['testelapse']),pd.to_numeric(df['surveyelapse'])
# plt.figure(figsize=(10,5))
# plt.title('Questionnaire spending time of boxplot',fontsize=20)
# labels = 'testelapse','surveyelapse'
# plt.boxplot([box_1, box_2], labels = labels)
# plt.show()

testelapse = pd.to_numeric(df['testelapse'])
testelapse.describe()

count    3.977500e+04
mean     2.684843e+03
std      1.482418e+05
min      1.200000e+01
25%      1.650000e+02
50%      2.130000e+02
75%      2.960000e+02
max      2.082972e+07
Name: testelapse, dtype: float64

In [34]:
surveyelapse = pd.to_numeric(df['surveyelapse'])
surveyelapse.describe()

count    3.977500e+04
mean     4.673672e+03
std      1.842179e+05
min      1.000000e+00
25%      1.450000e+02
50%      1.860000e+02
75%      2.480000e+02
max      2.082845e+07
Name: surveyelapse, dtype: float64

In [35]:
outlier = three_sigma(testelapse)
outlier1 = three_sigma(surveyelapse)
outlierSum = outlier+outlier1
df1 = df.drop(outlierSum)
df1

,Q1A,Q1I,Q1E,Q2A,Q2I,Q2E,Q3A,Q3I,Q3E,Q4A,...,age,screensize,uniquenetworklocation,hand,religion,orientation,race,voted,married,familysize
0,4,28,3890,4,25,2122,2,16,1944,4,...,16,1,1,1,12,1,10,2,1,2
1,4,2,8118,1,36,2890,2,35,4777,3,...,16,2,1,2,7,0,70,2,1,4
2,3,7,5784,1,33,4373,4,41,3242,1,...,17,2,1,1,4,3,60,1,1,3
3,2,23,5081,3,11,6837,2,37,5521,1,...,13,2,1,2,4,5,70,2,1,5
4,2,36,3215,2,13,7731,3,5,4156,4,...,19,2,2,3,10,1,10,2,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39770,2,31,3287,1,5,2216,3,29,3895,2,...,16,2,1,1,2,4,60,2,1,2
39771,3,14,4792,4,41,2604,3,15,2668,4,...,21,1,1,1,10,0,10,2,1,4
39772,2,1,25147,1,4,4555,2,14,3388,1,...,48,2,1,1,7,1,30,1,2,3
39773,3,36,4286,1,34,2736,2,10,5968,2,...,20,2,1,1,6,1,60,1,1,2
39774,2,28,32251,1,22,3317,2,4,11734,1,...,26,1,1,1,10,1,10,1,1,4

In [36]:
# 全部选项一致的恶意数据
n = []
for i in range(0,126,3):
    n.append(i) # 找出所有的选择题
df_temp = df.iloc[:,n] 
index = []
for j in range(df_temp.shape[0]): # 统计一行中不重复的元素
    if(len(np.unique(df_temp.iloc[j]))==1):
        index.append(j)
df2 = df1.drop(index)
df2

,Q1A,Q1I,Q1E,Q2A,Q2I,Q2E,Q3A,Q3I,Q3E,Q4A,...,age,screensize,uniquenetworklocation,hand,religion,orientation,race,voted,married,familysize
0,4,28,3890,4,25,2122,2,16,1944,4,...,16,1,1,1,12,1,10,2,1,2
1,4,2,8118,1,36,2890,2,35,4777,3,...,16,2,1,2,7,0,70,2,1,4
2,3,7,5784,1,33,4373,4,41,3242,1,...,17,2,1,1,4,3,60,1,1,3
3,2,23,5081,3,11,6837,2,37,5521,1,...,13,2,1,2,4,5,70,2,1,5
4,2,36,3215,2,13,7731,3,5,4156,4,...,19,2,2,3,10,1,10,2,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39770,2,31,3287,1,5,2216,3,29,3895,2,...,16,2,1,1,2,4,60,2,1,2
39771,3,14,4792,4,41,2604,3,15,2668,4,...,21,1,1,1,10,0,10,2,1,4
39772,2,1,25147,1,4,4555,2,14,3388,1,...,48,2,1,1,7,1,30,1,2,3
39773,3,36,4286,1,34,2736,2,10,5968,2,...,20,2,1,1,6,1,60,1,1,2
39774,2,28,32251,1,22,3317,2,4,11734,1,...,26,1,1,1,10,1,10,1,1,4

标记label

In [37]:
def depression_scores(list):
    scores = 0
    k = [3, 5, 10, 13, 16, 17, 21, 24, 26, 31, 34, 37, 38, 42]
    for i in range(len(k)):
        a = (k[i]-1)*3
        scores += int(list[a])
    return scores

In [38]:
def anxiety_scores(list):
    scores = 0
    k = [2, 4, 7, 9, 15, 19, 20, 23, 25, 28, 30, 36, 40, 41]
    for i in range(len(k)):
        a = (k[i]-1)*3
        scores += int(list[a])
    return scores

In [39]:
def stress_scores(list):
    scores = 0
    k = [1, 6, 8, 11, 12, 14, 18, 22, 27, 29, 32, 33, 35, 39]
    for i in range(len(k)):
        a = (k[i]-1)*3
        scores += int(list[a])
    return scores

In [40]:
def d_mark(n):
    if n>=0 and d<=9:
        level = 0
    elif n>=10 and n<=13:
        level = 1
    elif n>=14 and n<=20:
        level = 2
    elif n>=21 and n<=27:
        level = 3
    elif n>=28:
        level = 4
    return level

In [41]:
def a_mark(n):
    if n>=0 and d<=7 :
        level = 0
    elif n>=8 and n<=9:
        level = 1
    elif n>=10 and n<=14:
        level = 2
    elif n>=15 and n<=19:
        level = 3
    else:
        level = 4
    return level

In [42]:
def s_mark(n):
    if n>=0 and d<=14:
        level = 0
    elif n>=15 and n<=18:
        level = 1
    elif n>=19 and n<=25:
        level = 2
    elif n>=26 and n<=33:
        level = 3
    else:
        level = 4
    return level

In [43]:
# depression scores (3, 5, 10, 13, 16, 17, 21, 24, 26, 31, 34, 37, 38, 42)
# anxiety scores (2, 4, 7, 9, 15, 19, 20, 23, 25, 28, 30, 36, 40, 41)
# stress scores (1, 6, 8, 11, 12, 14, 18, 22, 27, 29, 32, 33, 35, 39)
sum_d =[]
sum_a = []
sum_s = []
Total =[]
for i in range(df2.shape[0]):
    d = depression_scores(df2.iloc[i]) 
    a = anxiety_scores(df2.iloc[i])
    s = stress_scores(df2.iloc[i])
    t = round((d_mark(d)+a_mark(a)+s_mark(s))*11/13)
    sum_d.append(d)
    sum_a.append(a)
    sum_s.append(s)
    Total.append(t)
df2['Depression scores'] = sum_d
df2['Anxiety scores'] = sum_a
df2['Stress scores'] = sum_s
df2['Total'] = Total
df2

/var/folders/0l/51mqfhnx4r58rrsnz6vm5dd00000gn/T/ipykernel_6358/3417535676.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  scores += int(list[a])

,Q1A,Q1I,Q1E,Q2A,Q2I,Q2E,Q3A,Q3I,Q3E,Q4A,...,religion,orientation,race,voted,married,familysize,Depression scores,Anxiety scores,Stress scores,Total
0,4,28,3890,4,25,2122,2,16,1944,4,...,12,1,10,2,1,2,41,48,54,10
1,4,2,8118,1,36,2890,2,35,4777,3,...,7,0,70,2,1,4,38,31,41,10
2,3,7,5784,1,33,4373,4,41,3242,1,...,4,3,60,1,1,3,53,26,31,9
3,2,23,5081,3,11,6837,2,37,5521,1,...,4,5,70,2,1,5,30,31,30,9
4,2,36,3215,2,13,7731,3,5,4156,4,...,10,1,10,2,1,4,46,54,43,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39770,2,31,3287,1,5,2216,3,29,3895,2,...,2,4,60,2,1,2,50,26,29,9
39771,3,14,4792,4,41,2604,3,15,2668,4,...,10,0,10,2,1,4,52,48,48,10
39772,2,1,25147,1,4,4555,2,14,3388,1,...,7,1,30,1,2,3,18,15,19,6
39773,3,36,4286,1,34,2736,2,10,5968,2,...,6,1,60,1,1,2,30,27,47,10
39774,2,28,32251,1,22,3317,2,4,11734,1,...,10,1,10,1,1,4,41,24,30,9

数据建模

In [44]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from lightgbm import 
from sklearn.metrics import accuracy_score

In [45]:
# 切分训练集、测试集，切分比例7.5:2.5
df3 = df2.drop(['Total'],axis=1)
train_X, test_X, train_y, test_y = train_test_split(df3.values, df2['Total'].values, test_size=0.25)

In [48]:
# 模型训练
gbm = LGBMClassifier(num_leaves=31, learning_rate=0.05, n_estimators=20)
gbm.fit(train_X, train_y, eval_set=[(test_X, test_y)])

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.007311 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 13886
[LightGBM] [Info] Number of data points in the train set: 29604, number of used features: 173
[LightGBM] [Info] Start training from score -5.459383
[LightGBM] [Info] Start training from score -4.065183
[LightGBM] [Info] Start training from score -3.664981
[LightGBM] [Info] Start training from score -3.124008
[LightGBM] [Info] Start training from score -2.779776
[LightGBM] [Info] Start training from score -1.684253
[LightGBM] [Info] Start training from score -1.781877
[LightGBM] [Info] Start training from score -0.707162
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf

LGBMClassifier(learning_rate=0.05, n_estimators=20)

In [49]:
# 模型预测
y_pred = gbm.predict(test_X, num_iteration=gbm.best_iteration_)

In [50]:
# 模型评估
print('The accuracy of prediction is:', accuracy_score(test_y, y_pred))

The accuracy of prediction is: 0.9994933630560341

In [51]:
# 特征重要度
print('Feature importances:', list(gbm.feature_importances_))

Feature importances: [np.int32(5), np.int32(33), np.int32(28), np.int32(12), np.int32(7), np.int32(7), np.int32(0), np.int32(2), np.int32(20), np.int32(0), np.int32(1), np.int32(5), np.int32(1), np.int32(13), np.int32(32), np.int32(1), np.int32(13), np.int32(3), np.int32(0), np.int32(11), np.int32(12), np.int32(0), np.int32(4), np.int32(16), np.int32(19), np.int32(8), np.int32(66), np.int32(0), np.int32(2), np.int32(15), np.int32(1), np.int32(16), np.int32(12), np.int32(0), np.int32(15), np.int32(6), np.int32(5), np.int32(5), np.int32(16), np.int32(0), np.int32(31), np.int32(7), np.int32(0), np.int32(3), np.int32(8), np.int32(9), np.int32(4), np.int32(9), np.int32(1), np.int32(7), np.int32(3), np.int32(2), np.int32(9), np.int32(4), np.int32(5), np.int32(12), np.int32(5), np.int32(0), np.int32(8), np.int32(13), np.int32(0), np.int32(5), np.int32(11), np.int32(2), np.int32(2), np.int32(17), np.int32(0), np.int32(12), np.int32(18), np.int32(5), np.int32(10), np.int32(9), np.int32(14), np.int32(5), np.int32(6), np.int32(4), np.int32(2), np.int32(8), np.int32(0), np.int32(8), np.int32(10), np.int32(0), np.int32(28), np.int32(4), np.int32(0), np.int32(5), np.int32(8), np.int32(5), np.int32(2), np.int32(11), np.int32(0), np.int32(3), np.int32(7), np.int32(0), np.int32(25), np.int32(6), np.int32(0), np.int32(18), np.int32(11), np.int32(0), np.int32(7), np.int32(1), np.int32(0), np.int32(5), np.int32(16), np.int32(0), np.int32(8), np.int32(25), np.int32(1), np.int32(21), np.int32(3), np.int32(2), np.int32(5), np.int32(19), np.int32(0), np.int32(5), np.int32(4), np.int32(18), np.int32(8), np.int32(15), np.int32(1), np.int32(4), np.int32(9), np.int32(9), np.int32(3), np.int32(11), np.int32(3), np.int32(1), np.int32(6), np.int32(16), np.int32(1), np.int32(1), np.int32(3), np.int32(0), np.int32(5), np.int32(3), np.int32(0), np.int32(5), np.int32(4), np.int32(1), np.int32(0), np.int32(3), np.int32(0), np.int32(0), np.int32(0), np.int32(0), np.int32(0), np.int32(10), np.int32(0), np.int32(0), np.int32(0), np.int32(0), np.int32(0), np.int32(0), np.int32(0), np.int32(0), np.int32(15), np.int32(0), np.int32(0), np.int32(0), np.int32(6), np.int32(0), np.int32(5), np.int32(0), np.int32(7), np.int32(0), np.int32(2), np.int32(0), np.int32(0), np.int32(1), np.int32(1205), np.int32(1264), np.int32(1146)]